@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h5>@ViewBag.Message</h5>

<h3>
    The previous page you visited was <b>@ViewBag.LastVisit</b>
</h3>

<button id="connector" onclick="connect()" type="button">Connect</button>
<button id="clicker" type="button">Send</button>
<button id="closer" type="button">Close</button>
<div id="chat">

</div>